.page-header{
    // background-color: rgb(50, 50, 50);
    height: 400px;
    background-image: url('/assets/images/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    color: rgb(212, 0, 0);
}